


/* hero */
.navbar {
    position: relative;
    
}

.hero {
    display:block;
    background-image: url(imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;

}

.webA {
    position: absolute;
    bottom: 65%;
    left: 50%;
}

.web {
    position: absolute;
    bottom: 65%;
    right: 20%;
}




h1::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 100px;
    animation: linea 3s ease;
} 

#punto {
    color: #E10600;
    animation: linea 3s ease;
}


@keyframes linea {

    0% {
        width: 0px;
        opacity: 0;
    }
     
    100% {
        width: 100px;
        opacity: 1;
        
    }
}

/* h4 {
    display: inline;
position: relative;
color: aqua;
padding-left: 35px;
text-align: center;



} */

 /* h4::after {

    content: " ";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 50%;
    bottom: 0;
    
   
}  */


 #normal {

    bottom: 60%;
    left: 30%;
}
h4::before {

    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease;
    
} 



#espejo {

    transform: rotate(180deg);
    left: 33%;
   
} 


/* acercademi */

 .aboutme {
    position: relative;
    height: 500px;
   

}

.me {

    /* posicion */
    position: absolute;
    display: inline;  
    height: 16rem;
    right: 0; 
    width: 33.33%;
    top: -20%;
    /* estilo */
    box-shadow: 0 0 .2rem #fff,
     0 0 .2rem #fff,
     0 0 2rem #000000,
     0 0 0.8rem #000000,
     0 0 2.8rem #000000,
     inset 0 0 1.3rem #000000; 
     border-radius: 10px;
    /* animation: neon 5s ease; */

    /* letra */
    color: black;
}


/* .me::after {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease;

} */


.parrafome{
    position: relative;
    margin-top: 20px;
}

.personal {
     /* posicion */
     position: absolute;
     display: inline;
     height: 15.9rem;
     right: 55%;
     width: 33.33%;
     top: 33.33%;
     /* estilo */
      box-shadow: 0 0 .2rem #fff,
     0 0 .2rem #fff,
     0 0 2rem #E10600,
     0 0 0.8rem #E10600,
     0 0 2.8rem #E10600,
     inset 0 0 1.3rem #E10600; 
     border-radius: 10px;
     /* animation: neon 5s ease;  */
}

@keyframes neon {
    0% {

        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #E10600,
        0 0 0.8rem #E10600,
        0 0 2.8rem #E10600,
        inset 0 0 1.3rem #E10600; 
        opacity: 0;
    }

  
    100% {

        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #E10600,
        0 0 0.8rem #E10600,
        0 0 2.8rem #E10600,
        inset 0 0 1.3rem #E10600; 
        opacity: 1;

    }
}


.img {
  /* posicion */
  position: absolute;
  display: inline;
  height: 16rem;
  right: 66.66%;
  width: 33.33%;
  top: 33.33%;
  /* estilo */
  
} 

.lista {
    position: absolute;
    display: inline;
    color: #000000;
    left: 35%;
    list-style-type: none;

}

li {
padding: 3px;


}

/* .list-group::after {
    
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease;
} */

.parrafopers {
   
    color: #000000;
    margin-top: 5px;
}

/* educacion  */

 /* .edu {
    position: relative;
    height: 500px;
    
} 


.educa {
    
    position:absolute;
    display: inline;
    width: 250px;
    height: 250px;
   
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #ffffff,
    0 0 0.8rem #ffffff,
    0 0 2.8rem #ffffff,
    inset 0 0 1.3rem #ffffff; 
}

#uno {
    right: 12%;
    bottom: 83%;
}

#dos {
    right: 66%;
    bottom: 35%;
}

#tres {
    right: 1%;
    bottom: 7%;
}

#cuatro {
    right: 72%;
    bottom: -26%;
}

#textedu {

    position:absolute;
    display: inline;
    bottom: 43%;
    right: 22%;
    color: #000000;
}

#textedu::after {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease; 
} */


.edu {
    position: relative;
    height: 500px;
    
   
} 




#uno {
    position: absolute;
    display: inline;
    right: 33.33%;
    bottom: 50%;
    height: 250px;
    width: 66.66%;
    background-color: #000000;

   
}

#dos {
    position: absolute;
    display: inline;
    right: 0%;
    bottom: 50%;
    height: 250px;
    width: 33.33%;
    background-color: #2f2f2f; 
    color: #000000; 
}

#tres {
    position: absolute;
    display: inline;
    right: 66.66%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #707070; 
    color: #000000;
}

#cuatro {
    position: absolute;
    display: inline;
    right: 33.33%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #575757; 
    color: #000000;
}

#cinco {
    position: absolute;
    display: inline;
    right: 0%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color:#404040; 
    color:#000000;
    
}


#textedu {
    position:absolute;
    display: inline;
    bottom: 41.5%;
    right: 41.5%;
    color: #707070;
}


#textdos {
    padding-top: 30px;
}

.deco {
    position: absolute;
    display: inline;
    right: 56.8%;
    bottom: 50%;
    height: 250px;
    width: 10%;
    border: solid 2px #E10600;
    z-index: 1;
    background-color: #E10600;
    opacity: .3;
    animation: expandir 4s ease;
}

@keyframes expandir {
    0% {

        bottom: 50%;
        height: 250px;
    }

    25% {
        bottom: 47%;
        height: 280px;
    }

    50%{

        bottom: 47%;
        height: 280px;

    }

    100% {

        bottom: 50%;
        height: 250px;
    }
}


/* experiencia */


/* skills */

.skill {
    position: relative;
    height: 650px;
    
}

.visualA, .visualB, .visualC, .visualD {
    position: absolute;
    display: inline;
} 

.visualA {
    width: 50%;
    height: 50%;
    top: 0%;
    right: 50%;
    background-color: #E10600;
    opacity: .2;
}

.visualB {
    width: 40%;
    height: 200px;
    top: 69%;
    right: 38.33%;
    background-color: #707070;
    opacity: .6;
}

.visualC {
    width: 500px;
    height: 158px;
    top: 7.33%;
    left: 45%;
    background-color: #fffff0;
    opacity: .5;
}

/* .visualD {
    width: 500px;
    height: 200px;
    top: 20%;
    bottom: 20%;
    border: #000000 solid 2px;
} */


 .barra, .progreso, .numskill, .textskill, .lineA,
 .lineB, .lineC, .lineD {
    position: absolute;
    display: inline;
   
}
.textskill {
    left: 45%;
    color: #241c1c;
    
}



.lineA {
    top: 10%;
    right: 55%;
    animation: li 3s ease;
}
.lineA::before {

    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 72px;
    

}



.lineB {
    top: 10%;
    right: 35.22%;
    animation: lin 3s ease;
    
}
.lineB::before {

    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 72px;
    right: 3px;
    
}

@keyframes lin {

    0% {
        top: 7%;
        width: 0;
        transform: rotate(-180deg);
        opacity: 0;
    }

    100% {
        top: 10%;
        transform: rotate(0deg);
        width: 71px;        
        opacity: 1;
        
    }
}

@keyframes li {
    0% {       
        top: 7%;
        opacity: 0;
        transform: rotate(-180deg);
    }

    100% { 
        top: 10%;
        opacity: 1;
        transform: rotate(0deg);
    }
}

/* boton skill developer */

.skilldeveloper {
    position: absolute;
    display: block;
    top: 45%;
    width: 100%;
    left: -1%;
}

.collapse {
    position: relative;
    display: inline;
}

.palabra {
    
    color: #241c1c;
    font-size: 20rem;
    display: inline;
    opacity: 0.5;
    
}
 
.barra {
    background-color: rgba(225, 6, 0, 0.5);
    height: 20PX;
    justify-content: center;
    height: 30px;
    width: 200px;
    top: 20%;
    left: 7%;
}


.progreso {
background-color: #E10600;
opacity: 1;
height: 30px;



}

.barracont {
    position: absolute;
    top: 40%;
    height: 200px;
}

#barraA {
    width: 180px;
    left: 20px;
}

#barraB {
    width: 160px;
    left: 40px;
}

#barraC {
    width: 140px;
    left: 60px;
}

#barraD {
    width: 190px;
    left: 10px;
}

/* trajetas */

.tarjeta {
    position: relative;
    display: inline;
    perspective: 1000px;
    width: 150px;
    height: 150px;
    margin: 0 50px 0 50px;
    justify-content: center;
}

.frente, .reversa {
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
    border: solid 2px black;
    border-radius: 15px;
    width: 75%;
    height: 100%;
    color: rebeccapurple ;
    
}

.textend {
    position: relative;
    display: inline;
    top: 20%;
}

.textback {
    position: absolute;
    display: block;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
}

.numkill{
    position: absolute;
    display: inline;
    justify-content: center;
    top: 32%;
    left: 27%;
    font-size: 3rem;
    transform: rotate(180deg);
}


.frente {
 transform: rotateY(0deg); 
}    

.reversa {
    position: absolute;
    transform: rotateY(180deg); 
       
}



 .tarjeta:hover .frente {
    transform: rotateY(-180deg);
}

.tarjeta:hover .reversa {
    transform: rotateY(0deg);
} 

col {
    margin: 20px;
}

#endA {
top: 30%;

}

#endB {
    top: 30%;
}

#endC {
    
}

#endD {
   top: 30%;
}

  



.botones {
    position: relative;
    display: block;
    width: 200px;
    height: 100px;
    left: 32%;
}


#palabraskill {
    font-size: x-large;
}


@media screen and (max-width:992px) {
    
    .web, .webA {
        
        display: contents;
      
    
    }
 
    .me {

        
        width:100%;
        
        
    } 

    .personal {
        width:100%;
        right: 0;

    }

    .img {

        width:100%;
        right: 78px;
        top: -71.67%;
    }

  #uno {
        width: 100%;
        right: 0;
    }

    #dos{
        bottom: 0;
    }

}


