/* hero */
.navbar {
    position: relative;

}

.hero {
    display: block;
    background-image: url(imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    box-shadow: inset 0px -20px 20rem 20px #000000;
}

.webA {
    position: absolute;
    bottom: 65%;
    left: 50%;
}

.web {
    position: absolute;
    bottom: 65%;
    right: 20%;
}




h1::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 100px;
    animation: linea 3s ease;
}

#punto {
    color: #E10600;
    opacity: .5;
    animation: linea 3s ease;
}


@keyframes linea {

    0% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 100px;
        opacity: 0.5;

    }
}

/* h4 {
    display: inline;
position: relative;
color: aqua;
padding-left: 35px;
text-align: center;



} */

/* h4::after {

    content: " ";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 50%;
    bottom: 0;
    
   
}  */


#normal {

    bottom: 60%;
    left: 30%;
}

h4::before {

    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease;

}



#espejo {

    transform: rotate(180deg);
    left: 33%;

}


/* acercademi */

.aboutme {
    position: relative;
    height: 500px;


}

.me {

    /* posicion */
    position: absolute;
    display: inline;
    height: 16rem;
    right: 0;
    width: 33.33%;
    top: -20%;
    /* estilo */
    box-shadow: 0 0 0.1rem #707070, 0 0 0.2rem #000000, 
    0 0 2rem #000000, 0 0 20rem #000000, 0 0 0.2rem #000000, 
    inset 0 0px 2rem #000000;
    border-radius: 10px;
    /* animation: neon 5s ease; */

    /* letra */
    color: black;
}

#textme::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 6px;
    width: 47px;
    left: 132px;
    top: 25px;
    transform: rotate(90deg);
}


/* .me::after {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease;

} */


.parrafome {
    position: relative;
    margin-top: 20px;
}

.personal {
    /* posicion */
    position: absolute;
    display: inline;
    height: 15.9rem;
    right: 55%;
    width: 33.33%;
    top: 33.33%;
    z-index: 1;
    /* estilo */
    /* animation: neon 5s ease;  */
}

@keyframes neon {
    0% {

        box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #E10600,
            0 0 0.8rem #E10600,
            0 0 2.8rem #E10600,
            inset 0 0 1.3rem #E10600;
        opacity: 0;
    }


    100% {

        box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #E10600,
            0 0 0.8rem #E10600,
            0 0 2.8rem #E10600,
            inset 0 0 1.3rem #E10600;
        opacity: 1;

    }
}


.img {
    /* posicion */
    position: absolute;
    display: inline;
    height: 16rem;
    right: 66.66%;
    width: 33.33%;
    top: 33.33%;
    z-index: 1;
    /* estilo */

}

.lista {
    position: absolute;
    display: inline;
    color: #000000;
    left: 35%;
    list-style-type: none;

}

li {
    padding: 3px;


}

/* .list-group::after {
    
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease;
} */

.parrafopers {

    color: #000000;
    margin-top: 5px;
}

/* visual acercademi */

.visualmi {
    position: absolute;
    display: inline;
}

#miA {
    height: 100%;
    width: 21%;
    background-color: #E10600;
    opacity: 0.2;
    left: 20%
}

#miB {

    height: 51%;
    width: 1.5%;
    background-color: #707070;
    opacity: 0.3;
    right: 16.4%;
    bottom: 69%;
}


/* educacion  */

/* .edu {
    position: relative;
    height: 500px;
    
} 


.educa {
    
    position:absolute;
    display: inline;
    width: 250px;
    height: 250px;
   
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #ffffff,
    0 0 0.8rem #ffffff,
    0 0 2.8rem #ffffff,
    inset 0 0 1.3rem #ffffff; 
}

#uno {
    right: 12%;
    bottom: 83%;
}

#dos {
    right: 66%;
    bottom: 35%;
}

#tres {
    right: 1%;
    bottom: 7%;
}

#cuatro {
    right: 72%;
    bottom: -26%;
}

#textedu {

    position:absolute;
    display: inline;
    bottom: 43%;
    right: 22%;
    color: #000000;
}

#textedu::after {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease; 
} */


.edu {
    position: relative;
    height: 500px;


}




#uno {
    position: absolute;
    display: inline;
    right: 33.33%;
    bottom: 50%;
    height: 250px;
    width: 66.66%;
    background-color: #000000;


}

#dos {
    position: absolute;
    display: inline;
    right: 0%;
    bottom: 50%;
    height: 250px;
    width: 33.33%;
    background-color: #2f2f2f;
    color: #000000;
}

#tres {
    position: absolute;
    display: inline;
    right: 66.66%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #707070;
    color: #000000;
}

#cuatro {
    position: absolute;
    display: inline;
    right: 33.33%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #575757;
    color: #000000;
}

#cinco {
    position: absolute;
    display: inline;
    right: 0%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #404040;
    color: #000000;

}


#textedu {
    position: absolute;
    display: inline;
    bottom: 41.5%;
    right: 41.5%;
    color: #707070;
}

#textedu::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 6px;
    width: 47px;
    left: -31px;
    top: 25px;
    transform: rotate(90deg);

}

#textdos {
    padding-top: 30px;
}

.deco {
    position: absolute;
    display: inline;
    right: 56.8%;
    bottom: 50%;
    height: 250px;
    width: 10%;
    border: solid 2px #E10600;
    z-index: 1;
    background-color: #E10600;
    opacity: .3;
    animation: expandir 4s ease;
}

@keyframes expandir {
    0% {

        bottom: 50%;
        height: 250px;
    }

    25% {
        bottom: 47%;
        height: 280px;
    }

    50% {

        bottom: 47%;
        height: 280px;

    }

    100% {

        bottom: 50%;
        height: 250px;
    }
}

/* visual about me */

.aboutme {
    box-shadow: inset 0px -20px 20rem 20px #000000;
}


/* experiencia */


.experiencia {
    position: relative;
    display: block;
    height: 700px;
    background-color: #2f2f2f;
    
}

.tituloexp {
    position: relative;
    display: block;
    height: 150px;
    width: 90%;
    background-color: #707070;
    opacity: .7;
    top: 10%;
    margin: auto;
}

.tarjetaexp {
    position: relative;
    display: block;
    height: 300px;
    width: 90%;
    top: 19%;
    margin: auto;
}

#textexp {
    position: absolute;
    top: 34%;
    margin-left: 5%;
}

#textexp::after {
    
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 6px;
    width: 47px;
    left: -28px;
    top: 20px;
    transform: rotate(90deg);
}

/* tarjetas de experiencia */

 .columna {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
    
}
.expindividual {
    
    width: 80%;
    height: 61%;
    border-left: solid 5px #E10600;
    color: #707070;
    margin: 10px;
    
} 

.imagenexp {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    color: #707070;
    background-color: #E10600;
    justify-content: center;
    align-items: center;
    bottom: 67%;
    right: 84%;
}

/* visual experiencia */

.visualexp {
    position: absolute;
    display: inline;
    height: 100%;
    width: 25%;
    background-color: #E10600;
    opacity: .3;
}

#visualexpA {
    left: 0%;
}

#visualexpB {
    right: 0%;
}
/* skills */

.skill {
    position: relative;
    height: 650px;

}

.visualA,
.visualB,
.visualC,
.visualD {
    position: absolute;
    display: inline;
}

.visualA {
    width: 50%;
    height: 50%;
    top: 0%;
    right: 50%;
    background-color: #E10600;
    opacity: .2;
}

.visualB {
    width: 50%;
    height: 100%;
    right: 25%;
    background-color: #707070;
    opacity: .6;
}

.visualC {
    width: 500px;
    height: 158px;
    top: 7.33%;
    left: 45%;
    background-color: #fffff0;
    opacity: .5;
}

/* .visualD {
    width: 500px;
    height: 200px;
    top: 20%;
    bottom: 20%;
    border: #000000 solid 2px;
} */


.barra,
.progreso,
.numskill,
.textskill,
.lineA,
.lineB,
.lineC,
.lineD {
    position: absolute;
    display: inline;

}

.textskill {
    left: 45%;
    color: #241c1c;

}



.lineA {
    top: 10%;
    right: 55%;
    /* animation: li 3s ease;  */
}

.textskill::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 6px;
    width: 47px;
    left: -29px;
    top: 30px;
    transform: rotate(90deg);
}



@keyframes lin {

    0% {
        top: 7%;
        width: 0;
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        top: 10%;
        transform: rotate(-180deg);
        width: 71px;
        opacity: 1;

    }
}

@keyframes li {
    0% {
        top: 7%;
        opacity: 0;
        transform: rotate(-180deg);
    }

    100% {
        top: 10%;
        opacity: 1;
        transform: rotate(0deg);
    }
}

/* skill developer */

.skilldeveloper {
    position: absolute;
    display: inline;
    top: 45%;
    width: 100%;
    left: 60px;
}

.botones {
    position: absolute;
    display: inline;
    width: 200px;
    height: 100px;
    left: 15%;
}

#botonskill {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.collapse {
    position: relative;
    display: inline;
}


.colapskills {
    position: absolute;
    display: inline;
    width: 250px;
    height: 285px;
    left: 27%;
    top: 69px;
}

.cardskills {
    position: absolute;
    height: 100%;
}

/* trajetas developer*/

.tarjeta {
    position: absolute;
    display: inline;
    perspective: 1000px;
    width: 95%;
    height: 12%;
    margin: 12%;
    justify-content: center;
    border: none;
}

.frente,
.reversa {
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
    border-radius: 15px;
    width: 66%;
    height: 100%;
    color: #575757;

}


.textend {
    position: relative;
    display: inline;
    top: 20%;
    font-size: 1.14rem;
}

.textback {
    position: absolute;
    display: block;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.numkill {
    position: absolute;
    display: inline;
    justify-content: center;
    top: -5%;
    left: 10%;
    font-size: 1.7rem;
    z-index: 1;
    ;
}


.frente {
    transform: rotateY(0deg);
}

.reversa {
    position: absolute;
    transform: rotateY(180deg);

}



.tarjeta:hover .frente {
    transform: rotateY(-180deg);
}

.tarjeta:hover .reversa {
    transform: rotateY(0deg);
}

col {
    margin: 20px;
}


#endA {
    top: 0%;

}

#endB {
    top: 0%;
}

#endC {
    top: 0%;
}

#endD {
    top: 0%;
}








#palabraskill {
    font-size: x-large;

}

.palabra {

    color: #241c1c;
    font-size: 20rem;
    display: inline;
    opacity: 0.5;

}

.barracontdeveloper {
    position: absolute;
    height: 100%;
}

.barra {
    background-color: rgba(225, 6, 0, 0.5);
    height: 20PX;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 12px;
}


.progreso {
    background-color: #E10600;
    opacity: 1;
    height: 20PX;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 12px;



}



#barraA {
    width: 87%;

}

#barraB {
    width: 80%;

}

#barraC {
    width: 60%;

}

#barraD {
    width: 95%;
}

/* skills idiomas */

.skillidiomas {
    position: absolute;
    display: inline;
    top: 45%;
    width: 100%;
    right: 2%;
}

.botonesidiomas {
    position: absolute;
    display: inline;
    width: 204px;
    height: 100px;
    right: 17.5%;
}


.colapidiomas {
    position: absolute;
    display: inline;
    width: 250px;
    height: 285px;
    left: 55%;
    top: 69px;
}

.cardidiomas {
    position: absolute;
    height: 100%;
}


#barraAA {
    width: 55%;
}

#barraBB {
    width: 80%;
}

#barraCC {
    width: 70%;
}


/* footer */

.final {
    position: relative;
    height: 150px;
    background-color: #2f2f2f;

}


























@media screen and (max-width:992px) {

    .web,
    .webA {

        display: contents;


    }

    .me {


        width: 100%;


    }

    .personal {
        width: 100%;
        right: 0;

    }

    .img {

        width: 100%;
        right: 78px;
        top: -71.67%;
    }

    #uno {
        width: 100%;
        right: 0;
    }

    #dos {
        bottom: 0;
    }

    .skilldeveloper {
        position: absolute;
        display: inline;
        top: 10%;
        width: 100%;
        right: 27%;
        left: -6%;
    }


    .colapskills {
        position: absolute;
        display: inline;
        width: 239px;
        height: 300px;
        left: 15%;
        top: 45px;
    }

    .skillidiomas {
        position: absolute;
        display: inline;
        top: 58%;
        width: 100%;
        right: 23%;
    }

    .colapskills {
        position: absolute;
        display: inline;
        width: 250px;
        height: 285px;
        left: 32%;
        top: 43px;
    }

}