/* hero */
.navbar {
    position: relative;

}

.navegacion {
    position: absolute;
    left: 61.5%;
    margin: 10px;
}

.nav-item {
    margin: 30px;
}


.hero {
    display: block;
    background-image: url(imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 770px;
    box-shadow: inset 0px -20px 20rem 20px #000000;
}

.webA {
    position: absolute;
    bottom: 60%;
    left: 39%;
}

.web {
    position: absolute;
    bottom: 60%;
    right: 34%;
}




h1::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 100px;
    animation: linea 3s ease;
}

#punto {
    color: #E10600;
    opacity: .5;
    animation: linea 3s ease;
}


@keyframes linea {

    0% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 100px;
        opacity: 0.5;

    }
}

/* h4 {
    display: inline;
position: relative;
color: aqua;
padding-left: 35px;
text-align: center;



} */

/* h4::after {

    content: " ";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 50%;
    bottom: 0;
    
   
}  */
#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#normal {

    bottom: 60%;
    left: 30%;
}

h4::before {

    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 3px;
    width: 70px;
    animation: linea 3s ease;

}



#espejo {

    transform: rotate(180deg);
    left: 33%;

}


/* acercademi */

.aboutme {
    position: relative;
    display: flex;
    justify-content: center;
    height: 500px;
    box-shadow: inset 0px -20px 20rem 20px #000000;

}

.acermiA {
    position: absolute;
    display: inline;
    overflow: hidden;
    height: 400px;
    width: 600px;
    bottom: 35%;
    border-radius: 20px;
    color: #707070;
    box-shadow: inset 0px 0px 6rem 18px #000000;
    border: solid 1px black;
    z-index: 1;
    transition: 6s;
}

.dperso {
    opacity: 1;
    transition: 3s;
}

.acermiAA {
    position: absolute;
    display: inline;
    height: 0px;
    width: 0px;
    bottom: 35%;
    border-radius: 20px;
    color: #707070;
    box-shadow: inset 0px 0px 6rem 18px #000000;
    border: solid 1px black;
    z-index: 1;
    transition: 6s;
}

.datospersonalesA {
    font-size: 0rem;
    /* transform: rotate(180deg); */
}

.textmeA {
    margin-top: 10px;
    margin-bottom: 50px;
    opacity: 0;

}




.titulome {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 4rem;

}

.acermiB {
    position: absolute;
    display: flex;
    height: 400px;
    width: 600px;
    bottom: 35%;
    border-radius: 20px;
    color: #707070;
    box-shadow: inset 0px 0px 6rem 18px #000000;
    border: solid 1px black
}

#sobremi {
    display: inline;

}

.lista {
    position: absolute;
    right: 1%;
    top: 20%;
    font-size: 1.5rem;
    justify-content: left;
    list-style: none;
}

.imagen {
    position: relative;
    display: inline-flex;
    height: 278px;
    right: 27%;
    width: 273px;
    top: 16%;
}

#imgperfil {
    position: absolute;
    display: inline;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

/* boton  */

#botonmi {
    position: absolute;
    display: inline;
    background-color: #2f2f2f;
    top: 57%;
    border-radius: 20px;
    z-index: 3;
}

#botonmi:hover {
    color: white;
}




/* educacion  */

.edu {
    position: relative;
    height: 500px;
}


#uno {
    position: absolute;
    display: inline;
    right: 33.33%;
    bottom: 50%;
    height: 250px;
    width: 66.66%;
    background-color: #000000;


}

#dos {
    position: absolute;
    display: inline;
    right: 0%;
    bottom: 50%;
    height: 250px;
    width: 33.33%;
    background-color: #2f2f2f;
    color: #000000;
}

#tres {
    position: absolute;
    display: inline;
    right: 66.66%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #707070;
    color: #000000;
}

#cuatro {
    position: absolute;
    display: inline;
    right: 33.33%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #575757;
    color: #000000;
}

#cinco {
    position: absolute;
    display: inline;
    right: 0%;
    bottom: 0%;
    height: 250px;
    width: 33.33%;
    background-color: #404040;
    color: #000000;

}


#textedu {
    position: absolute;
    display: inline;
    bottom: 41.5%;
    right: 41.5%;
    color: #707070;
    z-index: 1;
}

#textedu::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 6px;
    width: 47px;
    left: -31px;
    top: 25px;
    transform: rotate(90deg);

}

#textdos {
    padding-top: 30px;
}

.deco {
    position: absolute;
    display: inline;
    right: 56.65%;
    bottom: 50%;
    height: 250px;
    width: 0%;
    /* border: solid 2px #E10600; */
    z-index: 1;
    background-color: #E10600;
    opacity: .3;
    transition: 4s;
    /* animation: expandir 4s ease;  */
}

.decoB {
    position: absolute;
    display: inline;
    right: 56.65%;
    bottom: 50%;
    height: 250px;
    width: 21%;
    /* border: solid 2px #E10600; */
    z-index: 1;
    background-color: #E10600;
    opacity: .3;
    /* animation: expandir 4s ease;  */
}

@keyframes expandir {
    0% {

        bottom: 50%;
        height: 250px;
    }

    25% {
        bottom: 47%;
        height: 280px;
    }

    50% {

        bottom: 47%;
        height: 280px;

    }

    100% {

        bottom: 50%;
        height: 250px;
    }
}



/* experiencia */


.experiencia {
    position: relative;
    display: block;
    height: 718px;
    background-color: #2f2f2f;

}

.tituloexp {
    position: relative;
    display: block;
    height: 150px;
    width: 90%;
    background-color: #707070;
    opacity: .7;
    top: 10%;
    margin: auto;
}

.tarjetaexp {
    position: relative;
    display: block;
    height: 300px;
    width: 90%;
    top: 19%;
    margin: auto;
}

#textexp {
    position: absolute;
    top: 34%;
    margin-left: 5%;
}

#textexp::after {

    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 6px;
    width: 47px;
    left: -28px;
    top: 20px;
    transform: rotate(90deg);
}

/* tarjetas de experiencia */

.columna {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;

}

.expindividual {

    width: 80%;
    height: 61%;
    border-left: solid 5px #E10600;
    color: #707070;
    margin: 10px;

}

.imagenexp {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    color: #707070;
    background-color: #E10600;
    justify-content: center;
    align-items: center;
    bottom: 67%;
    right: 84%;
}

/* visual experiencia */

.visualexp {
    position: absolute;
    display: inline;
    height: 100%;
    width: 25%;
    background-color: #E10600;
    opacity: .3;
}

#visualexpA {
    left: 0%;
}

#visualexpB {
    right: 0%;
}

/* skills */

.skill {
    position: relative;
    height: 735px;

}

.visualA,
.visualB,
.visualC,
.visualD {
    position: absolute;
    display: inline;
}

.visualA {
    width: 50%;
    height: 50%;
    top: 0%;
    right: 50%;
    background-color: #E10600;
    opacity: .2;
}

.visualB {
    width: 50%;
    height: 100%;
    right: 25%;
    background-color: #707070;
    opacity: .6;
}

.visualC {
    position: absolute;
    display: flex;
    width: 80%;
    height: 150px;
    top: 65px;
    left: 10%;
    /* margin: 0; */
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fffff0;
    opacity: .5;
}

/* .visualD {
    width: 500px;
    height: 200px;
    top: 20%;
    bottom: 20%;
    border: #000000 solid 2px;
} */


.barra,
.progreso,
.numskill,
.textskill,
.lineA,
.lineB,
.lineC,
.lineD {
    position: absolute;
    display: inline;

}

.textskill {
    position: absolute;
    top: 34%;
    margin-left: 5%;
}



.lineA {
    top: 10%;
    right: 55%;
    /* animation: li 3s ease;  */
}

.textskill::before {
    content: " ";
    position: absolute;
    background-color: #E10600;
    height: 6px;
    width: 47px;
    left: -29px;
    top: 30px;
    transform: rotate(90deg);
}



@keyframes lin {

    0% {
        top: 7%;
        width: 0;
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        top: 10%;
        transform: rotate(-180deg);
        width: 71px;
        opacity: 1;

    }
}

@keyframes li {
    0% {
        top: 7%;
        opacity: 0;
        transform: rotate(-180deg);
    }

    100% {
        top: 10%;
        opacity: 1;
        transform: rotate(0deg);
    }
}

/* skill developer */

.skilldeveloper {
    position: absolute;
    display: inline;
    top: 45%;
    width: 96%;
    left: 60px;
}

.botones {
    position: absolute;
    display: inline;
    width: 200px;
    height: 100px;
    left: 15%;
}

#botonskill {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.collapse {
    position: relative;
    display: inline;
}


.colapskills {
    position: absolute;
    display: inline;
    width: 250px;
    height: 285px;
    left: 27%;
    top: 69px;
}

.cardskills {
    position: absolute;
    height: 100%;
}

/* trajetas developer*/

.tarjeta {
    position: absolute;
    display: inline;
    perspective: 1000px;
    width: 95%;
    height: 12%;
    margin: 12%;
    justify-content: center;
    border: none;
}

.frente,
.reversa {
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
    border-radius: 15px;
    width: 66%;
    height: 100%;
    color: #575757;

}


.textend {
    position: relative;
    display: inline;
    top: 20%;
    font-size: 1.14rem;
}

.textback {
    position: absolute;
    display: block;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.numkill {
    position: absolute;
    display: inline;
    justify-content: center;
    top: -5%;
    left: 10%;
    font-size: 1.7rem;
    z-index: 1;
    ;
}


.frente {
    transform: rotateY(0deg);
}

.reversa {
    position: absolute;
    transform: rotateY(180deg);

}



.tarjeta:hover .frente {
    transform: rotateY(-180deg);
}

.tarjeta:hover .reversa {
    transform: rotateY(0deg);
}

col {
    margin: 20px;
}


#endA {
    top: 0%;

}

#endB {
    top: 0%;
}

#endC {
    top: 0%;
}

#endD {
    top: 0%;
}








#palabraskill {
    font-size: x-large;

}

.palabra {

    color: #241c1c;
    font-size: 20rem;
    display: inline;
    opacity: 0.5;

}

.barracontdeveloper {
    position: absolute;
    height: 100%;
}

.barra {
    background-color: rgba(225, 6, 0, 0.5);
    height: 20PX;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 12px;
}


.progreso {
    background-color: #E10600;
    opacity: 1;
    height: 20PX;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 12px;



}



#barraA {
    width: 87%;

}

#barraB {
    width: 80%;

}

#barraC {
    width: 60%;

}

#barraD {
    width: 95%;
}

/* skills idiomas */

.skillidiomas {
    position: absolute;
    display: inline;
    top: 45%;
    width: 100%;
    right: 2%;
}

.botonesidiomas {
    position: absolute;
    display: inline;
    width: 204px;
    height: 100px;
    right: 17.5%;
}


.colapidiomas {
    position: absolute;
    display: inline;
    width: 250px;
    height: 285px;
    left: 55%;
    top: 69px;
}

.cardidiomas {
    position: absolute;
    height: 100%;
}


#barraAA {
    width: 55%;
}

#barraBB {
    width: 80%;
}

#barraCC {
    width: 70%;
}


/* footer */

.final {
    position: relative;
    height: 150px;
    background-color: #2f2f2f;

}

.redes {
    position: absolute;
    display: flex;
    width: 30%;
    height: 50px;
    align-items: center;
    left: 34%;
    top: 60%;
}


#separacion {
    position: absolute;
    display: inline;
    align-items: center;
    width: 40%;
    height: 1.5px;
    top: 50%;
    left: 30%;
    background-color: #707070;
}


#contacto {
    position: absolute;
    display: inline;
    top: 10%;
    left: 45%;
    color: #707070;
}

.enlacefinal {
    position: absolute;
    display: inline;
    right: 5%;
    margin-top: 10px;
    color: #707070;
    font-size: 1.5rem;
}




#boton {
    position: absolute;
    top: 50%;
}


/* botones */
.contactame {
    display: flex;
    align-items: center;
    color: #241c1c;
    text-decoration: none;
}

.contactame:hover {
    color: #575757;
    text-decoration: underline;
}

.recuadro {
    position: absolute;
    /* display: inline; */
    width: 150px;
    height: 95px;
    background-color: #fffff0;
    opacity: .7;
    border-radius: 28px;
    left: 34.5%;
    /* top: -6%; */
    display: none;
}

.visible {
    position: absolute;
    display: flex;
    justify-content: center;
    color: black;
}

#datosmail {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 0.9rem;
    color: black;

}


.recuadroA {
    position: absolute;
    width: 150px;
    height: 95px;
    background-color: #fffff0;
    opacity: .7;
    border-radius: 28px;
    left: 44.5%;
    display: none;
}

#datoswpp {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 0.9rem;
    color: black;

}

.visibleA {
    position: absolute;
    display: flex;
    justify-content: center;
    color: black;
}


.recuadroB {
    position: absolute;
    width: 150px;
    height: 95px;
    background-color: #fffff0;
    opacity: .7;
    border-radius: 28px;
    left: 54.5%;
    display: none;
}

#datosin {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 0.9rem;
    color: black;

}

.visibleB {
    position: absolute;
    display: flex;
    justify-content: center;
    color: black;
}








@media screen and (max-width:992px) {

    .web,
    .webA {

        display: contents;


    }

    .acermiA {


        width: 100%;


    }

    .acermiB {
        width: 100%;

    }

    .imagen {
        position: absolute;
        display: inline;
        height: 70%;
        right: 36.66%;
        width: 60%;
        top: -70%;
        right: 70%;
        z-index: 1;
    }

    #miA {
        position: absolute;
        height: 69%;
        top: 31%;
        width: 60%;
        background-color: #E10600;
        opacity: 0.2;
        left: 20%;
    }


    #uno {
        width: 100%;
        right: 0;
    }

    #dos {
        bottom: 0;
    }

    .skilldeveloper {
        position: absolute;
        display: inline;
        top: 10%;
        width: 100%;
        right: 27%;
        left: -6%;
    }

    .botones {
        position: absolute;
        display: inline;
        width: 200px;
        height: 50px;
        left: 10%;
        top: 155px;
    }

    .colapskills {
        position: absolute;
        display: inline;
        width: 239px;
        height: 300px;
        left: 15%;
        top: 45px;
    }

    .botonesidiomas {
        position: absolute;
        display: inline;
        width: 204px;
        height: 50px;
        right: 23.5%;
    }

    .skillidiomas {
        position: absolute;
        display: inline;
        top: 69%;
        width: 100%;
        right: 23%;
    }

    .colapidiomas {
        position: absolute;
        display: inline;
        width: 250px;
        height: 285px;
        left: 26%;
        top: 26px;
    }

    .colapskills {
        position: absolute;
        display: inline;
        width: 242px;
        height: 278px;
        left: 10%;
        top: 180px;
    }


    .navegacion {
        position: absolute;
        left: 21.5%;
        margin: 10px;
        background-color: #707070;
        opacity: .8;
        font-size: 24px;
        border-radius: 10px;
        z-index: 2;
    }

    .tarjetaexp {
        top: 8%;
    }

    .columna {
        height: 163px;
    }

    .redes {
        position: absolute;
        display: flex;
        width: 80%;
        height: 50px;
        align-items: center;
        left: 10%;
        top: 60%;
    }

    #separacion {
        position: absolute;
        display: inline;
        align-items: center;
        width: 40%;
        height: 1.5px;
        top: 50%;
        left: 36%;
        background-color: #707070;
    }

    .recuadro,
    .recuadroA,
    .recuadroB {
        left: 33.33%;
    }


}